{% extends 'utils/__nav.html' %}

{% block content %}


{% include 'utils/_deposite_withdraw.html' %}

<!-- Content
  ============================================= -->
<div id="content" class="py-4">
    <div class="container">

        <!-- Steps Progress bar -->
        <div class="row mt-4 mb-5">
            <div class="col-lg-11 mx-auto">
                <div class="row widget-steps">
                    <div class="col-4 step active">
                        <div class="step-name">Details</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Confirm</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Success</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="fw-400 text-center mt-3 mb-4">Deposit Money</h2>
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-5 pb-sm-5 px-sm-5 mb-4">

                    <!-- Deposit Money Form
            ============================================= -->
            <form id="form-send-money" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="youSend">Amount</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="text" name="amount" class="form-control" data-bv-field="youSend" id="youSend"
                            value="1000" placeholder="">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="paymentMethod" class="form-label">Payment Method</label>
                    <select id="cardType" class="form-select" name="payment_method" required="">
                        <option value="">Select Payment Method</option>
                        <option value="Credit or Debit Cards">Credit or Debit Cards</option>
                        <option value="Bank Accounts">Bank Accounts</option>
                    </select>
                </div>
                <p class="text-muted mt-4">Transactions fees <span
                        class="float-end d-flex align-items-center"><del>1.00 USD</del> <span
                            class="badge bg-info text-1 text-white fw-500 ms-2">Free</span></span></p>
                <hr>
                <p class="text-4 fw-500">You'll deposit <span class="float-end">1,000.00 USD</span></p>
                <div class="d-grid"><button type="submit" class="btn btn-primary">Continue</button></div>
            </form>
            
                    <!-- Deposit Money Form end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content end -->


{% endblock content %}