{% extends 'utils/__nav.html' %}
{% load static %}
{% block content %}

{% include 'utils/_send_request.html' %}
<!-- Content
  ============================================= -->

  
<div id="content" class="py-4">
    <div class="container">

        <!-- Steps Progress bar -->
        <div class="row mt-4 mb-5">
            <div class="col-lg-11 mx-auto">
                <div class="row widget-steps">
                    <div class="col-4 step active">
                        <div class="step-name">Details</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Confirm</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                    <div class="col-4 step disabled">
                        <div class="step-name">Success</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#" class="step-dot"></a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="fw-400 text-center mt-3">Request Money</h2>
        <p class="lead text-center mb-4">Request your payment on anytime, anywhere in the world.</p>
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="bg-white shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
                    <h3 class="text-5 fw-400 mb-3 mb-sm-4">Payer Details</h3>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                    <hr class="mx-n3 mx-sm-n5 mb-4">
                    <!-- Request Money Form
            ============================================= -->
                    <form id="form-send-money" method="post">
                        {% csrf_token %}
                       

                        <div class="mb-3">
                            <label for="emailID" class="form-label">Email</label>

                            {{ form.recipient_email}}
                        </div>

                        <div class="mb-3">
                            <label for="amount" class="form-label">Amount</label>
                            {{ form.amount}}

                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            {{ form.message }}
                        </div>

                        <div class="mb-3">
                            <label for="description" class="form-label">Currency</label>
                            {{ form.currency }}
                        </div>

                        <div class="d-grid mt-4"><button type="submit" class="btn btn-primary">Continue</button></div>
                    </form>
                    <!-- Request Money Form end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content end -->

{% endblock content %}