{% extends 'utils/__nav.html' %}

{% block content %}


{% include 'utils/_deposite_withdraw.html' %}

<!-- Content
  ============================================= -->
<div id="content" class="py-4">
    <div class="container">

        <!-- Steps Progress bar -->
        <div class="row mt-4 mb-5">
            <div class="col-lg-11 mx-auto">
                <div class="row widget-steps">
                    <div class="col-4 step complete">
                        <div class="step-name">Details</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <span class="step-dot"></span>
                    </div>
                    <div class="col-4 step complete">
                        <div class="step-name">Confirm</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <span class="step-dot"></span>
                    </div>
                    <div class="col-4 step complete">
                        <div class="step-name">Success</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <span class="step-dot"></span>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="fw-400 text-center mt-3 mb-4">Withdraw Money</h2>
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6 mx-auto">
                <!-- Withdraw Money Success
        ============================================= -->
        
                <div class="bg-white text-center shadow-sm rounded p-3 pt-sm-4 pb-sm-5 px-sm-5 mb-4">
                    <div class="my-4">
                        <p class="text-success text-20 lh-1"><i class="fas fa-check-circle"></i></p>
                        <p class="text-success text-8 fw-500 lh-1">Success!</p>
                        <p class="lead">Transactions Complete</p>
                    </div>
                    
                    <div class="d-grid"><a href="{% url 'withdraw' %}"><button class="btn btn-primary">Withdraw Money Again</button></a></div>
                    
                </div>
                <!-- Withdraw Money Success end -->
            </div>
        </div>
    </div>
</div>
<!-- Content end -->

{% endblock content %}