{% load static %}
<!-- Left Panel
        ============================================= -->
        <aside class="col-lg-3">

            <!-- Profile Details
              =============================== -->
            <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
              {% if user_profile.profile_picture %}
              <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{{ user_profile.profile_picture.url }}"
                  height=100 alt="">
                {% else %}
                <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="{% static 'images/default.png' %}"
                    height=100 alt="">
                  {% endif %}
                  <div class="profile-thumb-edit bg-primary text-white" data-bs-toggle="tooltip"
                    title="Change Profile Picture"> <i class="fas fa-camera position-absolute"></i>
                    <input type="file" class="custom-file-input" id="customFile">
                  </div>
                </div>
                <p class="text-3 fw-500 mb-2">Hello, {{ user_profile.user.first_name.capitalize }}
                  {{ user_profile.user.last_name.capitalize }}</p>
                <p class="mb-2"><a href="settings-profile.html" class="text-5 text-light" data-bs-toggle="tooltip"
                    title="Edit Profile"><i class="fas fa-edit"></i></a></p>
              </div>
              <!-- Profile Details End -->
    
              <!-- Available Balance
              =============================== -->
              <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
                <h3 class="text-9 fw-400"> {% if online_account.currency == 'USD' %}${{ online_account.balance}}
                  {% elif online_account.currency == 'EUR' %}€{{ online_account.balance}}
                  {% elif online_account.currency == 'GBP' %}£{{ online_account.balance}}
                  {% endif %}

                </h3>
                <p class="mb-2 text-muted opacity-8">Available Balance</p>
                <hr class="mx-n3">
                <div class="d-flex"><a href="{% url 'withdraw' %}" class="btn-link me-auto">Withdraw</a> <a
                    href="{% url 'deposite' %}" class="btn-link ms-auto">Deposit</a></div>
              </div>
              <!-- Available Balance End -->
    
              <!-- Need Help?
              =============================== -->
              <div class="bg-white shadow-sm rounded text-center p-3 mb-4">
                <div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>
                <h3 class="text-5 fw-400 my-4">Need Help?</h3>
                <p class="text-muted opacity-8 mb-4">Have questions or concerns regrading your account?<br>
                  Our experts are here to help!.</p>
                <div class="d-grid"><a href="#" class="btn btn-primary">Chate with Us</a></div>
              </div>
              <!-- Need Help? End -->
    
          </aside>